@import "~antd/dist/antd.css";

.wrapper {
    display: inline-block;
    background-color: #bbb;
    margin: 0 1px;
    width: 125px;
    height: 125px;
}

.img {
    display: none;
}
.ant-layout * {
    margin: 0 auto;
}
.ant-layout-content{
    margin-top: 5%;
    height: 100%;
    width: 100%;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
#__next{
    height: 100%;
    width: 100%;
}
